.calendar {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  user-select: none;

  &--dates {
    display: grid;
    padding-top: 18px;
    grid-template-columns: repeat(7, 1fr);
  }

  &--date {
    padding: 5px;
    cursor: pointer;
  }

  &--tray {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
  }
}
