.layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  width: 100vw;

  &--rhythm {
    & > * ~ * {
      margin-top: calc(2em + 5vh);
    }
  }
}

.layout--calendar {
  max-width: 280px;
  border-right: solid 2px var(--background-alt);

  &--rhythm {
    & > * ~ * {
      margin-top: calc(2em + 5vh);
    }
  }
}

.layout--notepad {
  display: flex;
}

.layout__login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .layout {
    display: block;
  }

  .layout--calendar {
    height: 300px;
    max-width: unset;
  }
}

