.notepad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &--item-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    max-width: 600px;
  }

  &--item {
    padding: 0.2em;
    height: 1.6em;
    width: 80%;
    margin-left: 20px;
    color: var(--text);
    background: var(--background-alt);
    border: none;
    outline: none;
    resize: none;
  }

  &--type-picker {
    background-color: transparent;
    visibility: hidden;
  }

  &--title {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  &--type-button {
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0.2em;
    display: block;
    cursor: pointer;
  }

  &--type-button-image {
    vertical-align: middle;
  }
}
